*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaina 2', cursive;

}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.bgtop{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    height: 560px;
}

.color{
    color: orange;
}
.box1{
    margin: 5%;
    width: 48%;
    float: left;
    padding-left: 20px;



}
.box2{
    width: 40%;
    float: right;
    
}
.box2 > img{
    width: 100%;

}
.box1 h1{
    font-size: 50px;
    
}
.box1 h2{
    font-weight: 800;
    
}
.box1 p{
    padding-top: 10px;
    
}
.box1 button{
    padding: 8px 12px;
    background-color: orange;
    border: none;
    margin-top: 10px;
    border-radius: 10%;
    
    
    
}
.box1 button:hover{
    background-color: orangered;
    color: black;

}
.box1 button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    
}
.box3{
    width: 41%;
    float: left;
    margin-top: 61px;
}
.box3 img{
    width: 100%;
    
    
}
.box4{
    
    float: right;
    width: 44%;
    margin: 5%;
    padding-left: 20px;
    
    font-weight: bold;
    font-size: 20px;




}
.bgmid{
    background-image: url(last.png);
    background-repeat: no-repeat;
    height: 560px;
    background-position-x: right;
    background-position-y: center;
} 
.box4 button{

padding: 8px 12px;
background-color: orange;
border: none;
margin-top: 10px;
border-radius: 8%;
cursor: pointer;
}
.box4 button a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.box4 button:hover{
    background-color: orangered;
    color: black;
}
 .boxes{
    width: 48%;
    float: left;
    padding-top: 20px;
    
    
    padding-left: 1%;
    border-left: 5px solid orange;
} 
.boxes1{
    width: 46%;
    float: right;
    

    padding-left: 1%;
    margin-bottom: 5%;
    border-left: 5px solid orange;
    margin-left: 10px;
}
.boxshadow{
    box-shadow: 10px 10px 40px grey;
    
    
}
.experience{
    background-image: url(left.png);
    background-repeat: no-repeat;
    height: 560px;
    background-position-y: center;

}
.text{
    text-align: center;
    background-color: black;
    color: white;
}
